.u-section-1 .u-sheet-1 {
  min-height: 545px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 321px;
  filter: brightness(0.5);
  margin: 64px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 26px 108px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}