.u-section-1 .u-sheet-1 {
  min-height: 545px;
}

.u-section-1 .u-image-1 {
  width: 511px;
  height: 408px;
  filter: brightness(0.6);
  margin: 11px auto 0 278px;
}

.u-section-1 .u-text-1 {
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 38px 108px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 407px;
    filter: brightness(0.5);
  }

  .u-section-1 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 209px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 271px;
    margin-left: 0;
  }
}